.customer-info {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}

.status-badge {
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 0.8rem;
  font-weight: 500;
}

.status-badge.new {
  background-color: #e0f3ff;
  color: #007bff;
}

.status-badge.in-progress {
  background-color: #fff4e5;
  color: #ff9800;
}

.status-badge.completed {
  background-color: #e6f9f0;
  color: #00c853;
}

.table-wrapper {
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

/* Cụ thể nếu nav hoặc container có class đặc biệt */
.rdt_Pagination {
  height: 30px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.modal {
  background: white;
  padding: 30px;
  width: 500px;
  border-radius: 8px;
}

.modal h2 {
  margin-bottom: 1rem;
}

.modal label {
  display: block;
  margin-bottom: 10px;
}

.modal input {
  width: 100%;
  padding: 6px;
  margin-top: 4px;
  border-radius: 8px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.modal-actions button {
  margin-left: 10px;
}
.add-btn {
  background-color: #4f46e5;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

.add-btn:hover {
  background-color: #4338ca;
}
.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
